// Colors
$table_blue: #1565c0;
$table_blue_darker: #0d47a1;
$table_green: #4caf50;
$table_green_darker1: #43a047;
$table_green_darker2: #2e7d32;

$teal: #00838f;
$blue_grey: #546e7a;

$trim_red: #ff1744;
$white: #ffffff;
$off_black: #212121;
$background_blue: #1e88e5;
$darker_blue: #0d47a1;


// Mixins
@mixin title-group_inline() {
    display: inline-block;
    width: 100%;
}
@mixin button() {
    padding: 7px 7px;
    border-radius: 5px;
    // background-color: $table_blue;
    background-color: $white;
    // border: 1px solid white;
    border: 1px solid $trim_red;
    // color: white;
    color: $off_black;
    font-size: 1.3em;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}
@mixin sectionTitle() {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
}
// General
body {
    font-family: Avenir;
    background-color: $background_blue;
}
h2 {
    color: white;
    font-size: 2.5em;
    text-align: center;
}
main {
    background-color: $background_blue;

}
// page divider
.page-divider {
    height: 3px;
    width: 100%;
    background-color: $trim_red;
}
// Header
.header {
    width: 100%;
    text-align: center;
    background-color: $white;

    .header__title {
        padding: 10px 10px;
        color: $off_black;
        font-size: 3.5em;
        @media (max-width: 440px) {
            font-size: 3em;
        }
    }
}


// Enter Players section

.players {
    padding: 20px 20px;
    //
    height: 150px;
    .players__title {
        @include sectionTitle();
    }
    .js_players__group {
        margin-top: 20px;
        .players__form, .players__done {
        }
        .players__form {
            .form__input {
                height: 36px;
                border-radius: 5px;
                font-size: 1.3em;
                &:focus {
                    outline: none;
                }
            }
            .form__add {
                @include button();

            }
        }
        .players__done {
            @include button();
        }
    }

    $player-green: #81c784;
    $player-dark-green: #1b5e20;
    $x-red: #f44336;
    .players__table {
        position: absolute;
        top: 210px;
        left: 0px;
        width: 100%;
        height: 150px;
        overflow: hidden;
        // background-color: grey;
        .new-player {
            position: absolute;
            display: inline-block;
            margin-top: 10px;
            box-sizing: border-box;
            width: 235px;
            border-radius: 5px;
            @media (max-width: 626px) {
                width: 0px;
                width: 40%;
            }
            .new-player__name {
                position: relative;
                display: inline-block;
                width: 180px;
                padding: 5px 5px;
                text-align: center;
                border: 1px solid $white;
                border-radius: 5px;
                background-color: $darker_blue;
                // color: $off_black;
                color: $white;
                font-size: 1.3rem;
                // font-weight: lighter;
                @media (max-width: 966px) {
                    width: 150px;
                    left: -1%;
                }
                @media (max-width: 828px) {
                    width: 140px;
                    left: -2%;
                }
                @media (max-width: 750px) {
                    width: 125px;
                    left: -3%;
                }
                @media (max-width: 675px) {
                    width: 110px;
                    left: -4%;
                }
                @media (max-width: 626px) {
                    width: 80%;
                    left: 10%;
                }


            }
            .name__black { 
                background-color: $off_black; 
                color: $white;
            }
            .name__white {
                background-color: $white;
                color: $off_black;
            }

            .new-player__remove {
                position: relative;
                display: inline-block;
                background-color: $x-red;
                color: $white;
                // border: 1px solid black;
                border: 1px solid $white;
                border-radius: 5px;
                height: 32px;
                width: 32px;
                // padding-top: 5px;
                font-size: 1.3rem;
                top: 0px;
                left: -6px;
                &:focus {
                    outline: none;
                }
                &:hover {
                    cursor: pointer;
                }
                @media (max-width: 626px) {
                    width: 0px;
                    width: 18%;
                }

            }

        }
    }
}

@mixin playerOne() {
    background-color: $white;
    color: $off_black;
}
@mixin playerTwo() {
    background-color: $off_black;
    color: $white;
    
}
// Your Tournament section
.tournament {
    // padding: 20px 20px;
    height: 80px;

    .tournament__title-group {
        padding: 20px 20px;
        .tournament__title {
            @include sectionTitle();
        }
        
    }
    .tournament__start-container {
        .tournament__start {
            @include button();
            visibility: hidden;
            margin-bottom: 20px;
        }
    }
   
    // tournament layout below
    $player_indigo: #1a237e;

    @mixin tournamentPlayerName() {
        position: relative;
        width: 100%;
        height: 30px;
        padding-top:6px;
        border-radius: 5px;
        font-size: 1.1rem;
        text-align: center;
        color: $player_indigo;


    }
    @mixin pairContainer() {
        position: relative;
        height: 64px;
        border-radius: 5px;
        top: 0px;
    }
    @mixin leftValueOfRound($round) {
        left: ($round - 1) * 200 + 50px;
    }
    .layout {
        position: absolute;
        visibility: hidden;
        width: 100%;
        height: 400px;
        // background-color: grey;
        .layout__inner {
            position: relative;
            left: 0px;
            top: 10px;
            margin: 0 auto;
            border-radius: 5px;
            width: 97%;
            background-color: $darker_blue;
            padding: 10px 10px;
            overflow: scroll;
        

            .round-one {
                position: relative;
                // @include round(1);
                left: 0px;

                .pair-container {
                    @include pairContainer();
                    margin-top: 10px;
                    width: 200px;


                    .pair-p1 {

                        background-color: #e0e0e0;
                        // color: red;
                        @include tournamentPlayerName();
                        @include playerOne();

                    }
                    .pair-p2 {
                        background-color: #bdbdbd;
                        color: blue;
                        margin-top: 4px;
                        @include tournamentPlayerName();
                        @include playerTwo();
                    }
                }
                .buyin-container {
                    position: relative;
                    margin-top: 10px;
                    width: 200px;
                    height: 50px;
                    border-radius: 5px;
                    .single-p {
                        background-color: #dce775;
                        @include tournamentPlayerName();
                    }
                }

            }
            .round-two, .round-three, .round-four, .round-five, .round-six, .round-seven {
                position: absolute;
                .pair-container {
                    @include pairContainer();
                    width: 150px;
                    margin-top: 20px;
                    .pair-p1 {

                        background-color: #e0e0e0;
                        // color: red;
                        @include tournamentPlayerName();
                        @include playerOne();
                    }
                    .pair-p2 {
                        background-color: #bdbdbd;
                        color: blue;
                        margin-top: 4px;
                        @include tournamentPlayerName();
                        @include playerTwo();
                    }


                }
                .buyin-container {
                    position: relative;
                    margin-top: 10px;
                    width: 150px;
                    height: 50px;
                    border-radius: 5px;
                    .single-p {
                        height: 30px;
                        background-color: #dce775;
                        @include tournamentPlayerName();
                    }
                }
                .winner-container {
                    position: relative;
                    width: 150px;
                    height: 30px;
                    margin-top: 20px;

                    border-radius: 5px;
                    .single-winner {
                        height: 30px;
                        background-color: #e0e0e0;
                        @include tournamentPlayerName();
                    }
                }
            }
            .round-two {@include leftValueOfRound(2)}
            .round-three {@include leftValueOfRound(3)}
            .round-four {@include leftValueOfRound(4)}
            .round-five {@include leftValueOfRound(5)}
            .round-six {@include leftValueOfRound(6)}
            .round-seven {@include leftValueOfRound(7)}
        }
    }

}

// Select Winners section
.winners {

    .winners__title-group {
        .winners__title {
            padding: 20px 20px;
            text-align: center;
        }
        
    }
    .pvp__block {
        .round {
            .round__pair {
                .pair__name_1 {
                    color: pink;
                }
                .pair__name_2 {
                    color: pink;
                    
                }
                .pair__single {
                    color: pink;
                    
                }
            }
        }
    }
    .winners__reset-group {
        .winners__reset {
            @include button();
            visibility: hidden;
            margin-bottom: 20px;
        }
    }
    // player v player below

}
