body {
  font-family: 'Hammersmith One', sans-serif; }

h1 {
  font-size: 3.5em;
  color: white; }

h2 {
  color: white;
  font-size: 2.5em;
  text-align: center; }

main {
  background-color: #4caf50; }

.page-divider {
  height: 3px;
  width: 100%;
  background-color: white; }

.header {
  text-align: center;
  background-color: #1565c0; }
  .header .header__title {
    padding: 10px 10px; }

.players {
  padding: 20px 20px;
  height: 500px; }
  .players .row {
    margin-top: 20px; }
    .players .row .players__form .form__input {
      height: 36px;
      border-radius: 5px;
      font-size: 1.3em; }
      .players .row .players__form .form__input:focus {
        outline: none; }
    .players .row .players__form .form__add {
      padding: 7px 7px;
      border-radius: 5px;
      background-color: #1565c0;
      border: 1px solid white;
      color: white;
      font-size: 1.3em; }
      .players .row .players__form .form__add:focus {
        outline: none; }
      .players .row .players__form .form__add:hover {
        cursor: pointer; }
    .players .row .players__done {
      padding: 7px 7px;
      border-radius: 5px;
      background-color: #1565c0;
      border: 1px solid white;
      color: white;
      font-size: 1.3em; }
      .players .row .players__done:focus {
        outline: none; }
      .players .row .players__done:hover {
        cursor: pointer; }
  .players .players__table {
    position: absolute;
    top: 210px;
    left: 0px;
    width: 100%;
    height: 350px; }
    .players .players__table .new-player {
      position: absolute;
      display: inline-block;
      margin-top: 10px;
      box-sizing: border-box;
      width: 235px; }
      .players .players__table .new-player .new-player__name {
        position: relative;
        display: inline-block;
        background-color: #1b5e20;
        width: 200px;
        padding: 5px 5px;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        font-size: 1.3rem; }
        @media (max-width: 940px) {
          .players .players__table .new-player .new-player__name {
            width: 150px;
            left: -1%; } }
        @media (max-width: 800px) {
          .players .players__table .new-player .new-player__name {
            width: 120px;
            left: -1%; } }
      .players .players__table .new-player .new-player__remove {
        position: relative;
        display: inline-block;
        background-color: #f44336;
        border: 1px solid black;
        border-radius: 5px;
        height: 32px;
        width: 32px;
        font-size: 1.3rem;
        top: 0px;
        left: -6px; }
        .players .players__table .new-player .new-player__remove:focus {
          outline: none; }
        .players .players__table .new-player .new-player__remove:hover {
          cursor: pointer; }

.tournament {
  padding: 20px 20px; }
  .tournament .tournament__title-group button {
    padding: 7px 7px;
    border-radius: 5px;
    background-color: #1565c0;
    border: 1px solid white;
    color: white;
    font-size: 1.3em; }
    .tournament .tournament__title-group button:focus {
      outline: none; }
    .tournament .tournament__title-group button:hover {
      cursor: pointer; }
  .tournament .tournament__title-group button, .tournament .tournament__title-group h2 {
    display: inline; }
  .tournament .tournament__title-group .tournament__back {
    background-color: #546e7a; }

.winners {
  padding: 20px 20px; }
  .winners .winners__title-group button {
    padding: 7px 7px;
    border-radius: 5px;
    background-color: #1565c0;
    border: 1px solid white;
    color: white;
    font-size: 1.3em; }
    .winners .winners__title-group button:focus {
      outline: none; }
    .winners .winners__title-group button:hover {
      cursor: pointer; }
  .winners .winners__title-group button, .winners .winners__title-group h2 {
    display: inline; }
  .winners .winners__title-group .winners__back {
    background-color: #546e7a; }

/*# sourceMappingURL=styles.css.map */
