body {
  font-family: Avenir;
  background-color: #1e88e5; }

h1 {
  font-size: 3.5em;
  color: white; }

h2 {
  color: white;
  font-size: 2.5em;
  text-align: center; }

main {
  background-color: #1e88e5; }

.page-divider {
  height: 3px;
  width: 100%;
  background-color: #ff1744; }

.header {
  text-align: center;
  background-color: #ffffff; }
  .header .header__title {
    padding: 10px 10px;
    color: #212121; }

.new-player:nth-child(2n) {
  background-color: #212121;
  color: #ffffff; }

.new-player:nth-child(2n - 1) {
  background-color: #ffffff;
  color: #212121; }

.players {
  padding: 20px 20px;
  height: 500px; }
  .players .row {
    margin-top: 20px; }
    .players .row .players__form .form__input {
      height: 36px;
      border-radius: 5px;
      font-size: 1.3em; }
      .players .row .players__form .form__input:focus {
        outline: none; }
    .players .row .players__form .form__add {
      padding: 7px 7px;
      border-radius: 5px;
      background-color: #ffffff;
      border: 1px solid #ff1744;
      color: #212121;
      font-size: 1.3em; }
      .players .row .players__form .form__add:focus {
        outline: none; }
      .players .row .players__form .form__add:hover {
        cursor: pointer; }
    .players .row .players__done {
      padding: 7px 7px;
      border-radius: 5px;
      background-color: #ffffff;
      border: 1px solid #ff1744;
      color: #212121;
      font-size: 1.3em; }
      .players .row .players__done:focus {
        outline: none; }
      .players .row .players__done:hover {
        cursor: pointer; }
  .players .players__table {
    position: absolute;
    top: 210px;
    left: 0px;
    width: 100%;
    height: 350px; }
    .players .players__table .new-player {
      position: absolute;
      display: inline-block;
      margin-top: 10px;
      box-sizing: border-box;
      width: 235px;
      border-radius: 5px; }
      .players .players__table .new-player .new-player__name {
        position: relative;
        display: inline-block;
        width: 200px;
        padding: 5px 5px;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 1.3rem; }
        @media (max-width: 940px) {
          .players .players__table .new-player .new-player__name {
            width: 150px;
            left: -1%; } }
        @media (max-width: 800px) {
          .players .players__table .new-player .new-player__name {
            width: 120px;
            left: -1%; } }
      .players .players__table .new-player .new-player__remove {
        position: relative;
        display: inline-block;
        background-color: #f44336;
        border: 1px solid black;
        border-radius: 5px;
        height: 32px;
        width: 32px;
        font-size: 1.3rem;
        top: 0px;
        left: -6px; }
        .players .players__table .new-player .new-player__remove:focus {
          outline: none; }
        .players .players__table .new-player .new-player__remove:hover {
          cursor: pointer; }

.tournament {
  padding: 20px 20px; }
  .tournament .tournament__title-group button {
    padding: 7px 7px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ff1744;
    color: #212121;
    font-size: 1.3em; }
    .tournament .tournament__title-group button:focus {
      outline: none; }
    .tournament .tournament__title-group button:hover {
      cursor: pointer; }
  .tournament .tournament__title-group button, .tournament .tournament__title-group h2 {
    display: inline; }
  .tournament .tournament__title-group .tournament__back {
    background-color: #546e7a; }
  .tournament .layout {
    position: absolute;
    visibility: hidden;
    width: 97%;
    height: 400px; }
    .tournament .layout .layout__inner {
      position: relative;
      left: 10px;
      top: 10px; }
      .tournament .layout .layout__inner .round-one {
        position: relative;
        left: 0px; }
        .tournament .layout .layout__inner .round-one .pair-container {
          position: relative;
          height: 64px;
          border-radius: 5px;
          top: 0px;
          margin-top: 10px;
          width: 200px; }
          .tournament .layout .layout__inner .round-one .pair-container .pair-p1 {
            background-color: #e0e0e0;
            position: relative;
            width: 100%;
            height: 30px;
            padding-top: 6px;
            border-radius: 5px;
            font-size: 1.1rem;
            text-align: center;
            border: 1px solid black;
            color: #1a237e; }
          .tournament .layout .layout__inner .round-one .pair-container .pair-p2 {
            background-color: #bdbdbd;
            color: blue;
            margin-top: 4px;
            position: relative;
            width: 100%;
            height: 30px;
            padding-top: 6px;
            border-radius: 5px;
            font-size: 1.1rem;
            text-align: center;
            border: 1px solid black;
            color: #1a237e; }
        .tournament .layout .layout__inner .round-one .buyin-container {
          position: relative;
          margin-top: 10px;
          width: 200px;
          height: 50px;
          border-radius: 5px; }
          .tournament .layout .layout__inner .round-one .buyin-container .single-p {
            background-color: #dce775;
            position: relative;
            width: 100%;
            height: 30px;
            padding-top: 6px;
            border-radius: 5px;
            font-size: 1.1rem;
            text-align: center;
            border: 1px solid black;
            color: #1a237e; }
      .tournament .layout .layout__inner .round-two, .tournament .layout .layout__inner .round-three, .tournament .layout .layout__inner .round-four, .tournament .layout .layout__inner .round-five, .tournament .layout .layout__inner .round-six, .tournament .layout .layout__inner .round-seven {
        position: absolute; }
        .tournament .layout .layout__inner .round-two .pair-container, .tournament .layout .layout__inner .round-three .pair-container, .tournament .layout .layout__inner .round-four .pair-container, .tournament .layout .layout__inner .round-five .pair-container, .tournament .layout .layout__inner .round-six .pair-container, .tournament .layout .layout__inner .round-seven .pair-container {
          position: relative;
          height: 64px;
          border-radius: 5px;
          top: 0px;
          width: 150px;
          margin-top: 20px; }
          .tournament .layout .layout__inner .round-two .pair-container .pair-p1, .tournament .layout .layout__inner .round-three .pair-container .pair-p1, .tournament .layout .layout__inner .round-four .pair-container .pair-p1, .tournament .layout .layout__inner .round-five .pair-container .pair-p1, .tournament .layout .layout__inner .round-six .pair-container .pair-p1, .tournament .layout .layout__inner .round-seven .pair-container .pair-p1 {
            background-color: #e0e0e0;
            position: relative;
            width: 100%;
            height: 30px;
            padding-top: 6px;
            border-radius: 5px;
            font-size: 1.1rem;
            text-align: center;
            border: 1px solid black;
            color: #1a237e; }
          .tournament .layout .layout__inner .round-two .pair-container .pair-p2, .tournament .layout .layout__inner .round-three .pair-container .pair-p2, .tournament .layout .layout__inner .round-four .pair-container .pair-p2, .tournament .layout .layout__inner .round-five .pair-container .pair-p2, .tournament .layout .layout__inner .round-six .pair-container .pair-p2, .tournament .layout .layout__inner .round-seven .pair-container .pair-p2 {
            background-color: #bdbdbd;
            color: blue;
            margin-top: 4px;
            position: relative;
            width: 100%;
            height: 30px;
            padding-top: 6px;
            border-radius: 5px;
            font-size: 1.1rem;
            text-align: center;
            border: 1px solid black;
            color: #1a237e; }
        .tournament .layout .layout__inner .round-two .buyin-container, .tournament .layout .layout__inner .round-three .buyin-container, .tournament .layout .layout__inner .round-four .buyin-container, .tournament .layout .layout__inner .round-five .buyin-container, .tournament .layout .layout__inner .round-six .buyin-container, .tournament .layout .layout__inner .round-seven .buyin-container {
          position: relative;
          margin-top: 10px;
          width: 150px;
          height: 50px;
          border-radius: 5px; }
          .tournament .layout .layout__inner .round-two .buyin-container .single-p, .tournament .layout .layout__inner .round-three .buyin-container .single-p, .tournament .layout .layout__inner .round-four .buyin-container .single-p, .tournament .layout .layout__inner .round-five .buyin-container .single-p, .tournament .layout .layout__inner .round-six .buyin-container .single-p, .tournament .layout .layout__inner .round-seven .buyin-container .single-p {
            height: 30px;
            background-color: #dce775;
            position: relative;
            width: 100%;
            height: 30px;
            padding-top: 6px;
            border-radius: 5px;
            font-size: 1.1rem;
            text-align: center;
            border: 1px solid black;
            color: #1a237e; }
        .tournament .layout .layout__inner .round-two .winner-container, .tournament .layout .layout__inner .round-three .winner-container, .tournament .layout .layout__inner .round-four .winner-container, .tournament .layout .layout__inner .round-five .winner-container, .tournament .layout .layout__inner .round-six .winner-container, .tournament .layout .layout__inner .round-seven .winner-container {
          position: relative;
          width: 150px;
          height: 30px;
          margin-top: 20px;
          border-radius: 5px; }
          .tournament .layout .layout__inner .round-two .winner-container .single-winner, .tournament .layout .layout__inner .round-three .winner-container .single-winner, .tournament .layout .layout__inner .round-four .winner-container .single-winner, .tournament .layout .layout__inner .round-five .winner-container .single-winner, .tournament .layout .layout__inner .round-six .winner-container .single-winner, .tournament .layout .layout__inner .round-seven .winner-container .single-winner {
            height: 30px;
            background-color: #e0e0e0;
            position: relative;
            width: 100%;
            height: 30px;
            padding-top: 6px;
            border-radius: 5px;
            font-size: 1.1rem;
            text-align: center;
            border: 1px solid black;
            color: #1a237e; }
      .tournament .layout .layout__inner .round-two {
        left: 250px; }
      .tournament .layout .layout__inner .round-three {
        left: 450px; }
      .tournament .layout .layout__inner .round-four {
        left: 650px; }
      .tournament .layout .layout__inner .round-five {
        left: 850px; }
      .tournament .layout .layout__inner .round-six {
        left: 1050px; }
      .tournament .layout .layout__inner .round-seven {
        left: 1250px; }

.winners {
  padding: 20px 20px; }
  .winners .winners__title-group button {
    padding: 7px 7px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ff1744;
    color: #212121;
    font-size: 1.3em; }
    .winners .winners__title-group button:focus {
      outline: none; }
    .winners .winners__title-group button:hover {
      cursor: pointer; }
  .winners .winners__title-group button, .winners .winners__title-group h2 {
    display: inline; }
  .winners .winners__title-group .winners__back {
    background-color: #546e7a; }

/*# sourceMappingURL=styles.css.map */
