// Colors
$table_blue: #1565c0;
$table_blue_darker: #0d47a1;
$table_green: #4caf50;
$table_green_darker1: #43a047;
$table_green_darker2: #2e7d32;

$teal: #00838f;
$blue_grey: #546e7a;

// Mixins
@mixin title-group_inline() {
    display: inline-block;
    width: 100%;
}
@mixin button() {
    padding: 7px 7px;
    border-radius: 5px;
    background-color: $table_blue;
    border: 1px solid white;
    color: white;
    font-size: 1.3em;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}
// General
body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: $table_green;
}
h1 {
    font-size: 3.5em;
    color: white;
}
h2 {
    color: white;
    font-size: 2.5em;
    text-align: center;
}
main {
    // background-color: $table_green;
    // background-color: #66bb6a;
    background-color: $table_green;

}
// page divider
.page-divider {
    height: 3px;
    width: 100%;
    background-color: white;
}
// Header
.header {
    text-align: center;
    // background-color: $table_blue;
    // background-image: url("../images/table-tennis-photo1.jpg");
    background-image: linear-gradient($table_blue, $table_blue_darker);

    .header__title {
        padding: 10px 10px;
    }
}


// Enter Players section
.players {
    padding: 20px 20px;
    //
    height: 500px;
    .players__title {
    }
    .row {
        margin-top: 20px;
        .players__form, .players__done {
        }
        .players__form {
            .form__input {
                height: 36px;
                border-radius: 5px;
                font-size: 1.3em;
                &:focus {
                    outline: none;
                }
            }
            .form__add {
                @include button();

            }
        }
        .players__done {
            @include button();
        }
    }

    $player-green: #81c784;
    $player-dark-green: #1b5e20;
    $x-red: #f44336;
    .players__table {
        position: absolute;
        top: 210px;
        left: 0px;
        width: 100%;
        height: 350px;
        // background-color: grey;
        .new-player {
            position: absolute;
            display: inline-block;
            margin-top: 10px;
            box-sizing: border-box;
            width: 235px;
            .new-player__name {
                position: relative;
                display: inline-block;
                background-color: $player-dark-green;
                // height: 30px;
                width: 200px;
                padding: 5px 5px;
                text-align: center;
                border: 1px solid black;
                border-radius: 5px;
                color: white;
                font-size: 1.3rem;
                // font-weight: lighter;
                @media (max-width: 940px) {
                    width: 150px;
                    left: -1%;
                }
                @media (max-width: 800px) {
                    width: 120px;
                    left: -1%;
                }


            }
            .new-player__remove {
                position: relative;
                display: inline-block;
                background-color: $x-red;
                border: 1px solid black;
                border-radius: 5px;
                height: 32px;
                width: 32px;
                // padding-top: 5px;
                font-size: 1.3rem;
                top: 0px;
                left: -6px;
                &:focus {
                    outline: none;
                }
                &:hover {
                    cursor: pointer;
                }

            }
        }
    }
}

// Your Tournament section
.tournament {
    padding: 20px 20px;

    .tournament__title-group {
        button { @include button(); }
        button, h2 {
            display: inline;
        }
        .tournament__back {
            background-color: $blue_grey;

        }
        .tournament__title {

        }
        .tournament__start {
        }
    }
    // tournament layout below
    $player_indigo: #1a237e;

    @mixin tournamentPlayerName() {
        position: relative;
        width: 100%;
        height: 30px;
        padding-top:6px;
        border-radius: 5px;
        font-size: 1.1rem;
        text-align: center;
        border: 1px solid black;
        color: $player_indigo;


    }
    @mixin pairContainer() {
        position: relative;
        height: 64px;
        border-radius: 5px;
        top: 0px;
    }
    @mixin leftValueOfRound($round) {
        left: ($round - 1) * 200 + 50px;
    }
    .layout {
        position: absolute;
        visibility: hidden;
        width: 97%;
        height: 400px;
        // background-color: grey;
        .layout__inner {
            position: relative;
            left: 10px;
            top: 10px;

            .round-one {
                position: relative;
                // @include round(1);
                left: 0px;

                .pair-container {
                    @include pairContainer();
                    margin-top: 10px;
                    width: 200px;


                    .pair-p1 {

                        background-color: #e0e0e0;
                        // color: red;
                        @include tournamentPlayerName();
                    }
                    .pair-p2 {
                        background-color: #bdbdbd;
                        color: blue;
                        margin-top: 4px;
                        @include tournamentPlayerName();
                    }
                }
                .buyin-container {
                    position: relative;
                    margin-top: 10px;
                    width: 200px;
                    height: 50px;
                    border-radius: 5px;
                    .single-p {
                        background-color: #dce775;
                        @include tournamentPlayerName();
                    }
                }

            }
            .round-two, .round-three, .round-four, .round-five, .round-six, .round-seven {
                position: absolute;
                // left: 250px;
                .pair-container {
                    @include pairContainer();
                    width: 150px;
                    margin-top: 20px;
                    .pair-p1 {

                        background-color: #e0e0e0;
                        // color: red;
                        @include tournamentPlayerName();
                    }
                    .pair-p2 {
                        background-color: #bdbdbd;
                        color: blue;
                        margin-top: 4px;
                        @include tournamentPlayerName();
                    }


                }
                .buyin-container {
                    position: relative;
                    margin-top: 10px;
                    width: 150px;
                    height: 50px;
                    border-radius: 5px;
                    .single-p {
                        height: 30px;
                        background-color: #dce775;
                        @include tournamentPlayerName();
                    }
                }
                .winner-container {
                    position: relative;
                    width: 150px;
                    height: 30px;
                    margin-top: 20px;

                    border-radius: 5px;
                    .single-winner {
                        height: 30px;
                        background-color: #e0e0e0;
                        @include tournamentPlayerName();
                    }
                }
            }
            .round-two {@include leftValueOfRound(2)}
            .round-three {@include leftValueOfRound(3)}
            .round-four {@include leftValueOfRound(4)}
            .round-five {@include leftValueOfRound(5)}
            .round-six {@include leftValueOfRound(6)}
            .round-seven {@include leftValueOfRound(7)}
        }
    }

}

// Select Winners section
.winners {
    padding: 20px 20px;

    .winners__title-group {
        button { @include button; }
        button, h2 {
            display: inline;
        }
        .winners__back {
            background-color: $blue_grey;
        }
        .winners__title {

        }
        .winners__reset-winners {

        }
    }
    // player v player below

}
